/* Common shared style */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.description {
  color: #151414;
  font-size: 16px;
  font-weight: 400;
}

.btn-primary {
  background: #f15b22;
  border: none;
  border-radius: 5px;
  padding: 21px 25px 20px 26px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.content-tittle {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* header section style */
header {
  background-image: url("../images/banner/banner1.png");
  width: 1600px;
  height: 808px;
  margin-bottom: 140px;
}

.header-content {
  text-align: right;
  padding: 216px 230px 186px 845px;
}

.header-content-tittle {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}

#header-btn-1 {
  margin-top: 32px;
}

/* My failures of previous year setction style */
.container-1 {
  display: flex;
  gap: 105px;
  padding-left: 206px;
  padding-right: 320px;
  margin-bottom: 140px;
}

.content {
  padding-top: 230px;
}

#content-description {
  margin-bottom: 16px;
}

.bullet-point .point {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}
