* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header section style */
header {
  background-image: url("../images/banner/banner1.png");
  width: 1600px;
  height: 808px;
  flex-shrink: 0;
}
